

body {
    background-color: #083b4c;
    font-family: Arial, sans-serif;
}

h1 {
    color: white;
    font-size: 3rem;
}

span {
    background-color: aqua;
    display: inline-block;
    min-height: 13vw;
    min-width: 13vw;
    line-height: 13vw;
    
}

@media screen and (max-width: 440px) {
    body {
        font-size: .7rem;
    }

    h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 330px) {
    body {
        font-size: .5rem;
    }
}


.color {
    background-color: #1389b2;
}

.FizzBuzz {
    background-color: #f0466f;
}

.Fizz {
    background-color: #0ad6a1;
}

.Buzz {
    background-color: #ffd166;
}